html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
}

footer {
  background-color: #ffe500;
  text-align: center;
  padding: .75em;
}

main {
  padding: 0 .75em;
}

small {
  font-size: .75rem;
}

.sigmar {
  font-family: Sigmar One, cursive;
  color: #b20953;
}
h1 {
  font-size: 3rem;
  text-align: center;
  margin: 0;
}
h2 {
  font-size: 1.875rem;
  padding: 0;
  text-align: left;
}


a {
  text-decoration: none;
  color: #fff;
  padding: .2em .5em .3em;
  background-color: #b2a212;
  border-radius: 4px;
  display: inline-block;
}

a:hover {
  background-color: #cc1465;
}

ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  font-size: 1.125rem;
  list-style-type: none;
  display: inline-block;
  margin: 0 0 .3em;
}

.current {
  background-color: #b20953;
}

img {
  width: 100%;
}
